name: Test

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, synchronize, review_requested, ready_for_review]
    branches: ['main']

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        test-file:
          - bak
          - bookmark-open
          - cat-which
          - clamdscan-full
          - date-diff-seconds-now
          - date-diff-seconds
          - dust
          - expects
          - fast-sync
          - get-var
          - gh-issue-view-select
          - notify-at
          - run-wait-output
          - take-until-empty
    name: Test ${{ matrix.test-file }}
    steps:
      - uses: actions/checkout@v4
      - name: Run test for ${{ matrix.test-file }}
        run: |
          git submodule update --init --recursive
          source ./source-all.sh
          ./lib/bats/bin/bats ./test/${{ matrix.test-file }}.bats
