name: Test

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, synchronize, review_requested, ready_for_review]
    branches: ['main']

jobs:
  build:
    runs-on: ubuntu-latest
    name: Test
    steps:
      - uses: actions/checkout@v4
      - name: Run tests
        run: |
          git submodule update --init --recursive
          ./run-tests.sh
